garden-editor {
    .axis path {
    display: none;
}
.axis line {
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}
input[type="range"] {
    right: 0;
    top: 0;
    position: absolute;
}
svg,
#chart-container {
    width: 100%;
    height: 70vh;
    display: block;
}

    $break-small: 320px;
    $break-large: 1200px;

    .fff {
      width: 250px;
      @media screen and (max-width: $break-small) {
        width: 100px;
        float: none;
      }
      @media screen and (min-width: $break-large) {
      }
    }
}
