garden-editor {
    .axis path {
      display: none;
    }

    .axis line {
      stroke-opacity: 0.3;
      shape-rendering: crispEdges;
    }

    .view {
      fill: none;
      stroke: none;
    }

    .view-rect {
      fill: none;
      stroke: red;
      stroke-width:0.1px;
    }

    .editor-container,
    svg,
    #chart-container {
        width: 100%;
        display: block;
    }

    #chart-container {
        height: 100%;
        border: 1px solid black;
    }

    .editor-container {
        display: block;
        height: 90%;
    }
    .scroll-content {
        padding:0;
    }

    .menu-container{
        height: 10%;
    }

    svg{
        height: 100%;
    }
}
