
<div id="chart-container">
    <div class="editor-container">
    </div>
    <div class="menu-container">
        <button class="reset-button" (click)="reset()">Reset</button>
        <button class="add-rect-button" (click)="addRect()">Add</button>
        <button class="save-button" (click)="save()">Save</button>
        <select [(ngModel)]="selectedSoilType" (change)="onSelectSoilType($event.target.value)">
            <option *ngFor="let s of soilTypes" [value]="s">{{s}}</option>
        </select>`
    </div>
</div>